<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/admin-lte/dist/css/adminlte.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" >
    <link href="/css/style.css" rel="stylesheet" >
    <script src="/vendor/admin-lte/dist/js/adminlte.min.js"></script>
    <title><%= title %></title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">My CRUD App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold text-glow" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-glow" href="/create">Create</a>
        </li>
      </ul>
      <!-- Tambahkan gambar di sini -->
      <a href="/"><img src="/img/A.jpg" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;"></a>
    </div>
  </div>
</nav>