<%- include('layout/header') %>
<%- include('layout/nav') %>

<body>

  
  <h1>Halaman Home</h1>
  <h1><span style="font-style: italic; color: #dd0ea9;">QueeniDUT</span></h1>
  
  
</body>
<%- include('layout/footer') %>
