<%- include('layouts/header') %>

<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- Card -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add New Data</h3>
          </div>
          <!-- Form Start -->
          <form action="/created" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter full name" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter phone number" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
              </div>
            </div>
            <!-- Card Footer -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">Add Data</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<%- include('layouts/footer') %>
