<%- include('layout/header') %>
<%- include('layout/nav') %>
<body>
    <div>
    <table><h1>Page About</h1></table>
<table>
    <tr>
<img src="img/A.jpg" alt="Deskripsi Gambar" height="100px" width="100">
    </tr>
</table>
    </div>
</body>
<%- include('layout/footer') %>